#numba==0.48.0
numba
#librosa==0.6.1
librosa
matplotlib
#opencv-python==3.4.4.19
opencv-python
#pillow==5.0
Pillow
tqdm
yacs
future
numpy==1.25
scipy
#sklearn
scikit-learn
tensorboard
chardet
charset_normalizer
